automations/daily_crossword/daily_crossword_flow.json
[
   {
      "id":"2aa1c536.7ed27a",
      "type":"tab",
      "label":"Daily Crossword Print",
      "disabled":false,
      "info":""
   },
   {
      "id":"8e68b820.ff6818",
      "type":"function",
      "z":"<your-flow-id>",
      "name":"Calculate Crossword URL Number",
      "func":"const startCrosswordNumber = 201003;\nconst startCrosswordDate = new Date(2020, 10, 7);  // strange bug: (2020, 11, 07) is the actual start date\nstartCrosswordDate.setHours(0, 0, 0, 0);\n\nconst oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds\nvar today = new Date();\ntoday.setHours(0,0,0,0);    // today's date, but at a time of midnight\n\nconst diffDays = Math.round(Math.abs((startCrosswordDate - today) / oneDay));\n\nmsg.startCrosswordDate = startCrosswordDate;\nmsg.today = today;\nmsg.diffDays = diffDays\nmsg.crossword_count = startCrosswordNumber + diffDays;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":420,
      "y":260,
      "wires":[
         [
            "c6554d36.1bd35"
         ]
      ]
   },
   {
      "id":"cb055d77.a3f7e",
      "type":"server-state-changed",
      "z":"<your-flow-id>",
      "name":"Daily Crossword Triggered",
      "server":"<your-hass-server-id>",
      "version":1,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"input_boolean.daily_crossword",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"habool",
      "haltifstate":"true",
      "halt_if_type":"bool",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":0,
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "x":130,
      "y":260,
      "wires":[
         [
            "8e93b1d6.e1a72",
            "8e68b820.ff6818"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"d15be1a1.d2d59",
      "type":"http request",
      "z":"<your-flow-id>",
      "name":"GET Crossword Bytes",
      "method":"GET",
      "ret":"bin",
      "paytoqs":"ignore",
      "url":"https://nytsyn.pzzl.com//nytsyn-crossword/nytsyncrosswordPDF?pm=pdf&puzzle={{{crossword_count}}}&data=%3CNAME%3E{{{crossword_count}}}%3C%2FNAME%3E%3CTYPE%3E1%3C%2FTYPE%3E",
      "tls":"",
      "persist":true,
      "proxy":"",
      "authType":"",
      "x":880,
      "y":260,
      "wires":[
         [
            "afb39dff.3607f"
         ]
      ]
   },
   {
      "id":"c6554d36.1bd35",
      "type":"change",
      "z":"<your-flow-id>",
      "name":"Prepare msg",
      "rules":[
         {
            "t":"set",
            "p":"filename",
            "pt":"msg",
            "to":"crossword.pdf",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"topic",
            "pt":"msg",
            "to":"Daily Crossword",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":670,
      "y":260,
      "wires":[
         [
            "d15be1a1.d2d59"
         ]
      ]
   },
   {
      "id":"afb39dff.3607f",
      "type":"e-mail",
      "z":"<your-flow-id>",
      "server":"<your-smtp-server>",
      "port":"<your-smtp-port>",
      "secure":false,
      "tls":true,
      "name":"<your-printer-email-address>",
      "dname":"Send Crossword Email",
      "x":1120,
      "y":260,
      "wires":[
         
      ],
      "info":"https://getmailspring.com/setup/access-hotmail-com-via-imap-smtp"
   },
   {
      "id":"8e93b1d6.e1a72",
      "type":"delay",
      "z":"<your-flow-id>",
      "name":"Trigger Delay",
      "pauseType":"delay",
      "timeout":"2",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":350,
      "y":300,
      "wires":[
         [
            "b5810b70.0294a8"
         ]
      ]
   },
   {
      "id":"b5810b70.0294a8",
      "type":"api-call-service",
      "z":"<your-flow-id>",
      "name":"Turn off Daily Crossword Toggle",
      "server":"<your-hass-server-id>",
      "version":1,
      "debugenabled":false,
      "service_domain":"input_boolean",
      "service":"turn_off",
      "entityId":"input_boolean.daily_crossword",
      "data":"",
      "dataType":"json",
      "mergecontext":"",
      "output_location":"",
      "output_location_type":"none",
      "mustacheAltTags":false,
      "x":570,
      "y":300,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"<your-hass-server-id>",
      "type":"server",
      "z":"",
      "name":"Home Assistant",
      "legacy":false,
      "addon":false,
      "rejectUnauthorizedCerts":false,
      "ha_boolean":"y|yes|true|on|home|open",
      "connectionDelay":true,
      "cacheJson":true
   }
]