automations/sunrise_alarm/sunrise_alarm_flow.json
[
   {
      "id":"<your-flow-id>",
      "type":"tab",
      "label":"Sunrise Alarm",
      "disabled":false,
      "info":""
   },
   {
      "id":"5e83023b.1cf92c",
      "type":"alarm-emitter",
      "z":"<your-flow-id>",
      "name":"15min before Alarm",
      "clock":"<your-clock-id>",
      "offset":"-900",
      "x":130,
      "y":280,
      "wires":[
         [
            "67afb1.a8d7905"
         ]
      ]
   },
   {
      "id":"eac40182.da711",
      "type":"alarm-set",
      "z":"<your-flow-id>",
      "clock":"<your-clock-id>",
      "x":520,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"46c78255.be9cac",
      "type":"change",
      "z":"<your-flow-id>",
      "name":"Convert",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"data.new_state.attributes.timestamp",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"{\"time\": $.payload}",
            "tot":"jsonata"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":360,
      "y":160,
      "wires":[
         [
            "eac40182.da711"
         ]
      ]
   },
   {
      "id":"67afb1.a8d7905",
      "type":"function",
      "z":"<your-flow-id>",
      "name":"Colour & Brightness Iterator",
      "func":"var defaultSceneLength = 450;\nvar scenes = [\n    {\n        \"rgb\": [255,153,0],\n        \"startBrightness\": 20,\n        \"endBrightness\": 60,\n        \"seconds\": defaultSceneLength\n    },\n    {\n        \"rgb\": [255, 204, 0],\n        \"startBrightness\": 50,\n        \"endBrightness\": 100,\n        \"seconds\": defaultSceneLength\n    }\n];\n\nprogressThroughScene(0);\nfunction progressThroughScene(index) {\n    var scene = scenes[index];\n    var updateFrequency = Math.round((scene[\"seconds\"] / (scene[\"endBrightness\"] - scene[\"startBrightness\"])) * 1000);\n    var currentBrightness = scene[\"startBrightness\"];\n\n    var timer = setInterval(function () {\n        node.send({\"light_alarm\": {\n                     \"brightness\": currentBrightness, \n                     \"r\": scene[\"rgb\"][0],\n                     \"g\": scene[\"rgb\"][1],\n                     \"b\": scene[\"rgb\"][2]\n                   }});\n        if (currentBrightness >= scene[\"endBrightness\"]) {\n            clearInterval(timer);\n            index++;\n            if (index < scenes.length) {\n                progressThroughScene(index)\n            }\n        } else {\n            currentBrightness++;\n        }\n    }, updateFrequency)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":390,
      "y":280,
      "wires":[
         [
            "990a03e6.526bb"
         ]
      ]
   },
   {
      "id":"22d634e8.3c3a8c",
      "type":"api-call-service",
      "z":"<your-flow-id>",
      "name":"Set Colour & Brightness",
      "server":"<your-hass-server-id>",
      "version":1,
      "debugenabled":false,
      "service_domain":"light",
      "service":"turn_on",
      "entityId":"light.tall_lamp, light.bedside_light",
      "data":"{\"rgb_color\":[\"{{light_alarm.r}}\",\"{{light_alarm.g}}\",\"{{light_alarm.b}}\"],\"brightness_pct\":\"{{light_alarm.brightness}}\"}",
      "dataType":"json",
      "mergecontext":"",
      "output_location":"",
      "output_location_type":"none",
      "mustacheAltTags":false,
      "x":1120,
      "y":240,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"43a53129.63cf4",
      "type":"server-state-changed",
      "z":"<your-flow-id>",
      "name":"Sunrise Time Updated",
      "server":"<your-hass-server-id>",
      "version":1,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"input_datetime.sunrise_time",
      "entityidfiltertype":"exact",
      "outputinitially":true,
      "state_type":"str",
      "haltifstate":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "outputs":1,
      "output_only_on_state_change":false,
      "for":0,
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "x":140,
      "y":160,
      "wires":[
         [
            "46c78255.be9cac"
         ]
      ]
   },
   {
      "id":"990a03e6.526bb",
      "type":"api-current-state",
      "z":"<your-flow-id>",
      "name":"Check Sunrise Toggle",
      "server":"<your-hass-server-id>",
      "version":1,
      "outputs":2,
      "halt_if":"true",
      "halt_if_type":"bool",
      "halt_if_compare":"is",
      "override_topic":false,
      "entity_id":"input_boolean.sunrise_toggle",
      "state_type":"habool",
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "blockInputOverrides":false,
      "x":650,
      "y":280,
      "wires":[
         [
            "22d634e8.3c3a8c"
         ],
         [
            "96b51a0f.291bd8"
         ]
      ]
   },
   {
      "id":"9808c9d3.784018",
      "type":"api-call-service",
      "z":"<your-flow-id>",
      "name":"Mid-Alarm Turn-Off",
      "server":"<your-hass-server-id>",
      "version":1,
      "debugenabled":false,
      "service_domain":"light",
      "service":"turn_off",
      "entityId":"light.tall_lamp, light.bedside_light",
      "data":"",
      "dataType":"json",
      "mergecontext":"",
      "output_location":"",
      "output_location_type":"none",
      "mustacheAltTags":false,
      "x":1220,
      "y":300,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"96b51a0f.291bd8",
      "type":"trigger",
      "z":"<your-flow-id>",
      "name":"Stop Alarm",
      "op1":"true",
      "op2":"",
      "op1type":"bool",
      "op2type":"nul",
      "duration":"15",
      "extend":false,
      "overrideDelay":false,
      "units":"min",
      "reset":"",
      "bytopic":"all",
      "topic":"topic",
      "outputs":2,
      "x":980,
      "y":300,
      "wires":[
         [
            "9808c9d3.784018"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"dc606906.b8e148",
      "type":"server-state-changed",
      "z":"<your-flow-id>",
      "name":"Sunrise Toggle Turned Back On",
      "server":"<your-hass-server-id>",
      "version":1,
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "entityidfilter":"input_boolean.sunrise_toggle",
      "entityidfiltertype":"exact",
      "outputinitially":false,
      "state_type":"habool",
      "haltifstate":"true",
      "halt_if_type":"bool",
      "halt_if_compare":"is",
      "outputs":2,
      "output_only_on_state_change":true,
      "for":0,
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "x":480,
      "y":340,
      "wires":[
         [
            "3afd40b2.1e0e4"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"3afd40b2.1e0e4",
      "type":"change",
      "z":"<your-flow-id>",
      "name":"Create Reset Signal",
      "rules":[
         {
            "t":"set",
            "p":"reset",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":750,
      "y":340,
      "wires":[
         [
            "96b51a0f.291bd8"
         ]
      ]
   },
   {
      "id":"8ce89c22.da1e8",
      "type":"server-events",
      "z":"<your-flow-id>",
      "name":"IFTTT Sunrise Alarm Webhook Received",
      "server":"<your-hass-server-id>",
      "event_type":"ifttt_webhook_received",
      "exposeToHomeAssistant":false,
      "haConfig":[
         {
            "property":"name",
            "value":""
         },
         {
            "property":"icon",
            "value":""
         }
      ],
      "waitForRunning":true,
      "x":210,
      "y":480,
      "wires":[
         [
            "2f49d482.e11c9c"
         ]
      ]
   },
   {
      "id":"85429a71.0b9ef8",
      "type":"api-call-service",
      "z":"<your-flow-id>",
      "name":"Set Sunrise Time",
      "server":"<your-hass-server-id>",
      "version":1,
      "debugenabled":false,
      "service_domain":"input_datetime",
      "service":"set_datetime",
      "entityId":"input_datetime.sunrise_time",
      "data":"{\"time\":\"{{sunrise_alarm_time}}\"}",
      "dataType":"json",
      "mergecontext":"",
      "output_location":"",
      "output_location_type":"none",
      "mustacheAltTags":false,
      "x":730,
      "y":480,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"2f49d482.e11c9c",
      "type":"function",
      "z":"<your-flow-id>",
      "name":"Translate Time Format",
      "func":"var input_data = msg.payload.event.data;\n\nvar hour = \"0\" + Math.floor(input_data).toString();\nvar minute = Math.round((input_data % 1) * 100).toString();\n\nif (minute < 10) {\n    minute = \"0\" + minute.toString();\n} else {\n    minute = minute.toString()\n}\n\nreturn {\"sunrise_alarm_time\": hour + \":\" + minute + \":\" + \"00\"}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":500,
      "y":480,
      "wires":[
         [
            "85429a71.0b9ef8",
            "75a1736d.c281ac"
         ]
      ]
   },
   {
      "id":"75a1736d.c281ac",
      "type":"api-call-service",
      "z":"<your-flow-id>",
      "name":"Turn on Sunrise Toggle",
      "server":"<your-hass-server-id>",
      "version":1,
      "debugenabled":false,
      "service_domain":"input_boolean",
      "service":"turn_on",
      "entityId":"input_boolean.sunrise_toggle",
      "data":"",
      "dataType":"json",
      "mergecontext":"",
      "output_location":"",
      "output_location_type":"none",
      "mustacheAltTags":false,
      "x":750,
      "y":540,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"<your-clock-id>",
      "type":"alarm-clock",
      "z":"",
      "name":"Sunrise Alarm"
   },
   {
      "id":"<your-hass-server-id>",
      "type":"server",
      "z":"",
      "name":"Home Assistant",
      "legacy":false,
      "addon":false,
      "rejectUnauthorizedCerts":false,
      "ha_boolean":"y|yes|true|on|home|open",
      "connectionDelay":true,
      "cacheJson":true
   }
]